<link rel="stylesheet" href="resources/statics/css/head.css" type="text/css">
<div class="top">
    <div class="user">
        <label style="font-size: 38px;display: inline-block;margin: auto;top: 10px;position: absolute;left: 38px;font-weight: 500">
            兴海照明
        </label>
        <div id="photo" style="display: none;">
            <img src="resources/statics/img/Matt%20Damon.png" />
        </div>
        <div id="user-name" style="display: none;"></div>
        <div id="user-description" style="display: none;">performer</div>
    </div>
    <div id="menu-btn">
        <img src="resources/statics/img/menu.png" />
    </div>
    <div id="proj">订 单 系 统</div>
</div>