<link rel="stylesheet" href="resources/statics/css/menu.css" type="text/css">
<div class="left">
    <div class="menu">
        <div class="sideLine"></div>
        <ul>
            <li>
                <a href="main">首页</a>
            </li>
            <li>
                <a href="order">订单查询</a>
            </li>
            <li>
                <a href="customer">客户管理</a>
            </li>
            <li>
                DASHBOARD
            </li>
            <li>
                DASHBOARD
            </li>
        </ul>
    </div>
</div>