.top {
    width: 100% !important;
    height: 120px;
    box-shadow: 0px 2px 2px #e7e7e7;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}
.user {
    width: 250px;
    height: 120px;
    background-color: #a48ad4;
    display: inline-block;
}
.user #photo {
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    position: absolute;
    left: 30px;
    top: 30px;
    border-radius: 100%;
    cursor: pointer;
}
.user #photo img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
}
.user #user-name {
    width: 100px;
    height: 20px;
    line-height: 20px;
    color: #ffffff;
    position: absolute;
    left: 90px;
    top: 40px;
    padding: 0px 10px;
    font-weight: 900;
    cursor: pointer;
}
.user #user-description {
    width: 100px;
    height: 20px;
    line-height: 20px;
    color: #ffffff;
    position: absolute;
    left: 90px;
    top: 60px;
    padding: 0px 10px;
    cursor: pointer;
}
.top #menu-btn {
    display: inline-block;
    width: 28px;
    height: 28px;
    position: absolute;
    top: 40px;
    left: 300px;
    cursor: pointer;
}
.top #proj {
    width: auto;
    height: 46px;
    line-height: 46px;
    display: inline-block;
    position: absolute;
    top: 30px;
    left: 350px;
    color: #262932;
    font-size: 35px;
}